# .env.example - COPIAR a .env y llenar la contraseña antes de docker compose up

# 💾 Base de datos SQL Server
SA_PASSWORD=TuPasswordSegura1!
DB_NAME=ClinicaFisioterapiaBD

# 🌐 API .NET
API_PORT=7164
ASPNETCORE_ENVIRONMENT=Development
JWT_KEY=Reemplaza_Esta_Clave_Por_Una_De_Al_Menos_32_Caracteres
